---
import ImageComp from "../ImageComp.astro"
import { ALTONG_PANEL as imgTable, } from "../../constsImages";
---


<section id="pricing" class="mx-auto md:px-8 py-12 bg-fixed bg-primary-950">
    <div class="w-full text-center pt-5 pb-20">
        <p class="mx-auto uppercase text-lg lg:text-xl max-w-3xl font-sans font-bold tracking-tight text-primary-300">
          Prices
        </p>
        <h2 class="mx-auto py-2 text-4xl lg:text-6xl max-w-3xl font-title font-bold tracking-tight text-accent-800">
          Time Building Packages
        </h2>
        <p class="mx-auto text-lg max-w-3xl tracking-loose text-primary-100">
          Check out our prices
        </p>
    </div>
<div class="p-2 text-white text-center font-sans min-h-screen flex flex-col gap-5 items-center justify-center lg:grid lg:grid-cols-2">  
    <div class="w-full h-full items-baseline justify-center p-3 hidden lg:flex">   
        <ImageComp
        imagePath={imgTable.imagePath}
        imageAlt={imgTable.imageAlt}
        styles="lg:w-3/4 lg:h-3/4 object-cover animate-slow-zoom rounded-xl"
        loading="eager"
        quality="99"
        />
    </div> 

    <div class="w-full max-w-6xl">
      <div class="grid grid-cols-5 lg:grid-cols-6 text-sm md:text-base rounded-xl overflow-hidden border border-slate-700">
        <!-- Header Row -->
        <div class="bg-primary-900 p-4 font-semibold border-b border-slate-700 col-span-5 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6">
          <div class="col-span-1 text-center">Hours</div>
          <div class="col-span-1 text-center">Rate</div>
          <div class="col-span-1 text-center">Rate/hour</div>
          <div class="col-span-2 lg:col-span-3 text-center">Shareable <br> Price <br> <span class="text-xs text-slate-400">(max 2 people)</span></div>
        </div>

        <!-- Data Rows -->
        <div class="col-span-5 lg:col-span-6 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6 divide-x divide-slate-700">
          <div class="col-span-1 p-4 bg-primary-950">10</div>
          <div class="col-span-1 p-4 bg-primary-950">$1,500</div>
          <div class="col-span-1 p-4 bg-primary-950">$150</div>
          <div class="col-span-2 lg:col-span-3 p-4 bg-primary-950">$75</div>
        </div>
        <div class="col-span-5 lg:col-span-6 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6 divide-x divide-slate-700">
          <div class="col-span-1 p-4 bg-primary-900">20</div>
          <div class="col-span-1 p-4 bg-primary-900">$2,800</div>
          <div class="col-span-1 p-4 bg-primary-900">$140</div>
          <div class="col-span-2 lg:col-span-3 p-4 bg-primary-900 ">$70</div>
        </div>
        <div class="col-span-5 lg:col-span-6 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6 divide-x divide-slate-700">
          <div class="col-span-1 p-4 bg-primary-950">30</div>
          <div class="col-span-1 p-4 bg-primary-950">$3,900</div>
          <div class="col-span-1 p-4 bg-primary-950">$130</div>
          <div class="col-span-2 lg:col-span-3 p-4 bg-primary-950">$65</div>
        </div>
        <div class="col-span-5 lg:col-span-6 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6 divide-x divide-slate-700">
          <div class="col-span-1 p-4 bg-primary-900">40</div>
          <div class="col-span-1 p-4 bg-primary-900">$4,800</div>
          <div class="col-span-1 p-4 bg-primary-900">$120</div>
          <div class="col-span-2 lg:col-span-3 p-4 bg-primary-900 ">$60</div>
        </div>
        <div class="col-span-5 lg:col-span-6 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6 divide-x divide-slate-700">
          <div class="col-span-1 p-4 bg-primary-950">50</div>
          <div class="col-span-1 p-4 bg-primary-950">$5,500</div>
          <div class="col-span-1 p-4 bg-primary-950">$110</div>
          <div class="col-span-2 lg:col-span-3 p-4 bg-primary-950 ">$55</div>
        </div>
        <div class="col-span-5 lg:col-span-6 lg:col-span-6 grid grid-cols-5 lg:grid-cols-6 divide-x divide-slate-700">
          <div class="col-span-1 p-4 bg-primary-900">100</div>
          <div class="col-span-1 p-4 bg-primary-900">$10,000</div>
          <div class="col-span-1 p-4 bg-primary-900">$100</div>
          <div class="col-span-2 lg:col-span-3 p-4 bg-primary-900 ">$50</div>
        </div>
      </div>
      <p class="text-center py-5 text-primary-100 text-lg">Our TAA time-building packages are designed to offer you flexibility and value. The more hours you commit to, the lower your hourly rate becomes. Plus, with our shareable options, you can split the cost with another pilot, making your time-building even more affordable!</p>
      <p class="text-center mt-2 text-primary-400">Contact us for more information.*</p>
    </div>
  </div>
</section>
