---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderScreen from "../components/astro/HeaderScreen.astro";

const homePage = {
  pageTitle: "Page Not Found | SCHOOL'S NAME",
  pageDescription:
    "The page you are looking for is not found.  Please return to the home page. We are sorry for the inconvenience. Thank you for visiting School's Name Aviation Academy.",
  pageKeywords:
    "Page Not Found, 404",
  header: {
    imagePath: "/src/assets/flyingWhiteHeli4.png",
    imageAlt: "",
    headerH1: `Check Your<br><span class="text-accent-600">Instruments</span>`,
    paragraph:
      "Page Not Found<br>Explore our programs for the best flight training experience.",
    buttons: [
      {
        name: "Home",
        link: "/",
        primary: false,
      },
    ],
  },
};
---

<BaseLayout
  siteTitle={homePage.pageTitle}
  siteDescription={homePage.pageDescription}
  keywords={homePage.pageKeywords}
>
  <!-- HEADER -->
  <HeaderScreen content={homePage.header} />
</BaseLayout>
