---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderScreen from "../components/astro/HeaderScreen.astro";

const homePage = {
  pageTitle: "Page Not Found | SCHOOL'S NAME",
  pageDescription:
    "The page you are looking for is not found.  Please return to the home page. We are sorry for the inconvenience. Thank you for visiting School's Name Aviation Academy.",
  pageKeywords:
    "Page Not Found, 404, Academy, Flight School, Flight Training, Pilot Training, Pilot School, Pilot License, Private Pilot, Sport Pilot, Recreational Pilot, Commercial Pilot, Flight Instructor, Flight Instructor Training, CFI, CFII, MEI, Multi-Engine, Multi-Engine Instructor, ATP, Airline Transport Pilot, Instrument Rating, Instrument, Instrument Instructor, Instrument Instructor Training, Part 61, Part 141, Flight School Near Me, Flight Training Near Me, Pilot School Near Me, Pilot Training Near Me, Flight School Arizona, Flight Training Arizona, Pilot School Arizona, Pilot Training Arizona, Flight School Phoenix, Flight Training Phoenix, Pilot School Phoenix, Pilot Training Phoenix, Flight School Glendale, Flight Training Glendale, Pilot School Glendale, Pilot Training Glendale, Flight School Goodyear, Flight Training Goodyear, Pilot School Goodyear, Pilot Training Goodyear, Flight School Scottsdale, Flight Training Scottsdale, Pilot School Scottsdale, Pilot Training Scottsdale, Flight School Mesa, Flight Training Mesa, Pilot School Mesa, Pilot Training Mesa, Flight School Chandler, Flight Training Chandler, Pilot School Chandler, Pilot Training Chandler, Flight School Gilbert, Flight Training Gilbert, Pilot School Gilbert, Pilot Training Gilbert, Flight School Peoria, Flight Training Peoria, Pilot School Peoria, Pilot Training Peoria, Flight School Avondale, Flight Training Avondale, Pilot School Avondale, Pilot Training Avondale, Flight School Buckeye, Flight Training Buckeye, Pilot School Buckeye, Pilot Training Buckeye, Flight School Surprise, Flight Training Surprise, Pilot School Surprise, Pilot Training Surprise, Flight School SCHOOL'S NAME, Flight Training SCHOOL'S NAME, Pilot School SCHOOL'S NAME, Pilot Training SCHOOL'S NAME, Flight School SCHOOL'S NAME West, Flight Training SCHOOL'S NAME West, Pilot School SCHOOL'S NAME West, Pilot Training SCHOOL'S NAME West, Flight School El Mirage, Flight Training El Mirage, Pilot School El Mirage, Pilot Training El Mirage, Flight School Youngtown, Flight Training Youngtown, Pilot School Youngtown, Pilot Training Youngtown, Flight School Waddell, Flight Training Waddell, Pilot School Waddell, Pilot Training Waddell, Flight School Litchfield Park, Flight Training Litchfield Park, Pilot School Litchfield Park, Pilot Training Litchfield Park, Flight School Glendale Municipal Airport, Flight Training Glendale Municipal Airport, Pilot School Glendale Municipal",
  header: {
    imagePath: "/src/assets/peter-thomas-QiqdAtV9U18-unsplash.jpg",
    imageAlt: "",
    headerH1: `Check Your<br><span class="text-accent-400">Instruments</span>`,
    paragraph:
      "Page Not Found<br>Explore our programs for the best flight training experience.",
    buttons: [
      {
        name: "Home",
        link: "/",
        primary: false,
      },
    ],
  },
};
---

<BaseLayout
  siteTitle={homePage.pageTitle}
  siteDescription={homePage.pageDescription}
  keywords={homePage.pageKeywords}
>
  <!-- HEADER -->
  <HeaderScreen content={homePage.header} />
</BaseLayout>
