---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import ImageComp from "../components/ImageComp.astro";
import BentoGrid from "../components/BentoGrid.astro";

const image = "/src/assets/peter-thomas-QiqdAtV9U18-unsplash.jpg";
---

<Layout title="Welcome to Astro.">
  <main>
    <BentoGrid upper="Tailwind UI Example" title="Awesome Components" />
  </main>
</Layout>
